@tailwind base;
@tailwind components;
@tailwind utilities;

*, body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.sales-title {
  @apply bg-brown-bg w-full text-center py-1;
}

.form-input {
  @apply px-4 py-2 outline-none text-[#675d5dbd] rounded;
}